<!doctype html>

<meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon; charset=binary">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>{{ title }}</title>

<head>
    <div class="row">
        <div class="columnhead1">
            <br>
            <a style="top: 10px" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo_fh.png') }}" alt="FH" width="330" height="61">
            </a>
        </div>
        <div class="columnhead2">
            <div align="right">
                <img id="ferry" src="{{ url_for('static', filename='ferry.png')}}" alt="Ferry" height="90">
            </div>
        </div>
    </div>
</head>

<div class="row">
    <!--    Nav Column-->
    <div class="column1">
        <div id="mySidenav" class="sidenav">
            <img src="{{ url_for('static', filename='topic.gif')}}" alt="FH-people">
            <ul style="margin-left: -40px; list-style: none; text-indent: 10px">
                <li style="margin-bottom: 10px; vertical-align: center">
                    <form method="get">
                        <input style="width:50%; height: 16px" name="search" id="search">
                        <input type="submit" style="width:35%; margin-left: 1px; height: 20px; font-size: 10px" value="Search">
                    </form>
                </li>
                <li><a class = "nav" href="{{ url_for('home') }}">Home</a></li>
                <li><a class = "nav" href="{{ url_for('show_destinations') }}">Destinations</a></li>
                <li><a class = "nav" href="{{ url_for('my_bookings') }}">My Bookings</a></li>
                <li><a class = "nav" href="{{ url_for('checkout') }}">Checkout</a></li>
                {% if current_user.is_authenticated %}
                <li><a class = "nav" href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a class = "nav" href="{{ url_for('_login') }}">Login</a></li>
                {% endif %}
            </ul>
            <br>
            <div class="navFooter">
                <p style="font-weight: bold; font-size: 11px; margin-bottom: 15px">Portal-Helpdesk</p>
                <p style="margin-bottom: 3px"><a href="mailto:portal@fh-campuswien.ac.at">portal@boat-campuswien.ac.at</a></p>
                <p style="margin-top: 0px; margin-bottom: 3px"><a href="tel:+43160668776060">+43 1 606 68 77-6060</a></p>
                <br>
                <p style="margin-bottom: 3px"><a href="{{ url_for('home') }}">Legal Notice</a></p>
                <p style="margin-top: 0px"><a href="{{ url_for('home') }}">Privacy Notice</a></p>
            </div>
        </div>
    </div>

    <!--    Content Column-->
    <div class="column2">
        <body>
        <div style="margin-left:20px; margin-right:20px; top: 100px; width: 100%">
            {% if current_user.is_authenticated %}
            <div class="headbar" style="color: white; background-color: #656566;" align="right">
                <div style="margin-right: 10px">
                    Logged in: {{ current_user.first_name }} {{ current_user.last_name }} |
                    <a style="color: white; text-decoration: none;" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
            <div style="width: 102.35%; background-color: #acc0d4; left: -60px; position:relative; height: 25px; margin-top: 3px" align="right">
                <button id="btnCart"  onclick="toggleCart()" title="Show Cart" style="height: inherit; margin-right: 10px; width: 50px">
                    <img src="{{ url_for('static', filename='order.png')}}" style="height: 95%;">
                </button>
            </div>
            {% else %}
            <div class="headbar" style="color: white; background-color: #656566;" align="right">
                <div style="margin-right: 10px">
                    <a style="color: white; text-decoration: none;" href="{{ url_for('_login') }}">Login</a>
                </div>
            </div>
            <div style="width: 102.35%; background-color: #acc0d4; left: -60px; position:relative; height: 25px; margin-top: 3px"><br></div>
            {% endif %}
            <div class="myCart" id="myCart">
                <a title="Close Cart" href="javascript:void(0)" class="closebtn" onclick="closeCart()">&times;</a>
                {% if session['cart']|length %}
                <ul>
                    {% for item in session['cart'] %}
                    <li>
                        <div style="border: #656566 1px solid; background-color: white; color: black; padding: 0 0 10px 10px">
                            <h3>Passage</h3>
                            <p style="margin: 2px 0 2px 0"><b>Departure:</b> {{ item.departure }}</p>
                            <p style="margin: 2px 0 2px 0"><b>Destination:</b> {{ item.destination }}</p>
                            <p style="margin: 2px 0 2px 0"><b>Tickets:</b> {{ item.tickets }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div align="right" style="margin-right: 10px;">
                    <form action="{{ url_for('checkout') }}">
                        <button type="submit">Checkout</button>
                    </form>

                </div>
                {% else %}
                <ul>
                    <li><h2>Cart still empty!</h2></li>
                </ul>
                {% endif %}
            </div>
            <h1 style="color: #8faedd; text-shadow: 1px 1px 1px #6f8e9f;" align="center">{{ title }}</h1>
            <section class="content">
                {% block content %}{% endblock %}
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{ url_for('static', filename='base_script.js')}}"></script>
        </body>
    </div>
</div>

</html>
