<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center" style="text-decoration: none">
        <div style="padding-top: 10px; width:40%; border: black 1px solid; padding-left: 20px" align="left">
            <h2>Your Destination: {{ destination }}</h2>

            <div style="display: flex">
                <div style="flex: 40%; margin-top: 10px">
                    <p style="margin: 0 0 0 0">Destination:</p>
                    <p>Departure:</p>
                    <p>Tickets:</p>
                </div>
                <div style="flex: 60%">
                    <form  style="margin-top: 10px" method="post">
                        <input style="width:50%; font-size: 16px; margin-bottom: 10px;" name="destination" id="destination" value={{ destination }} readonly>
                        <br>
                        <select name = "departure" style="font-size: 16px; margin-bottom: 10px;">
                            {% for item in departures %}
                                <option value={{ item.departure }}>{{ item.departure }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <select name = "tickets" style="font-size: 16px">
                            {% for nr in tickets %}
                                <option value={{ nr }}>{{ nr }}</option>
                            {% endfor %}
                        </select>
                        <div align="right" >
                            <input style="margin: 10px 10px 10px 0" type="submit" value="Add to Cart">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}