<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center">
        <div align="center" style="text-decoration: none; width:75%">
            <div class="checkout" id="checkout">
                {% if session['cart']|length %}
                <h2>Passages</h2>
                <ul>
                    {% for item in session['cart'] %}
                    <li>
                        <div style="display: flex; width:60%;">
                            <div style="flex: 20%">
                                <form method="post" style="padding: 5px 0 0px 0px";>
                                    <input style="width:50%; font-size: 16px; margin-bottom: 10px;" name="deletion" id="deletion" value={{ item.item_id }} readonly hidden>
                                    <input style="margin: 10px 10px 10px 0; background-color: red" type="submit" value="Remove">
                                </form>
                            </div>
                            <div style="flex: 80%;  border: #656566 1px solid; background-color: white; color: black; padding: 10px 0 10px 10px; margin: 5px 0 5px 0">
                                <b>Departure:</b> {{ item.departure }} | <b>Destination:</b> {{ item.destination }} | <b>Tickets:</b> {{ item.tickets }} | <b>Price:</b> {{ item.total_price }}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div align="right" style="border-top: black 1px solid; margin-top: 10px; padding-top: 10px">
                    <h3>Total: {{ total_sum }}€</h3>
                </div>
                <br>
                <div align="right" style="margin-right: 10px;">
                    <form method="post">
                        <input style="height: 50px; width: 90px; font-size: 16px" type="submit" value="Checkout">
                    </form>
                </div>
                {% else %}
                <div align="center">
                    <h2>Cart still empty!</h2>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}