<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center" style="text-decoration: none">
        <div style="padding-top: 10px; width:75%">
            <div class="grid">
                {% for item in destinations %}
                <div>
                    <div align="center"><h2>{{ item.name }}</h2></div>
                    <div class="container" style="position: relative">
                        <img class="grid_image" src="/media/destinations/{{ item.file }}" style="height: 325px; width: 325px">
                        <div class="centered">{{ item.text }}</div>
                    </div>
                    <form method="post">
                        <input type="text" id="destination" name="destination" value={{ item.name }} hidden="">
                        <input style="height: 30px; width: 150px;" type="submit" value="Book a Trip!">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}