<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center">
        <div style="padding-top: 10px; width:300px">
            <div style="display: flex">
                <div style="flex: 30%; text-align: left">
                    <p style="margin-top: 10px">Email</p>
                    <p>Password</p>
                </div>
                <div style="flex: 70%">
                    <form method="post">
                        <input style="margin-top: 10px" name="email" id="email" required>
                        <br>
                        <input style="margin-top: 10px" type="password" name="password" id="password" required>
                        <br>
                        <div align="right" >
                            <input style="margin: 10px 15px 0 0" type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
            {% if fail %}
            <h3 style="color: red">{{ fail }}</h3>
            <br>
            {% endif %}
            <h3>Don't have an account?</h3>
            <h3><a href="{{ url_for('register') }}">Register Here</a></h3>
        </div>
    </div>
</body>
{% endblock %}