<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<h3>Available Media</h3>
<ul>
    {% for item in data %}
        <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endblock %}