<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center" style="text-decoration: none">
        {% if not bookings|length %}
        <h3>No bookings yet!</h3>
        {% else %}
        {% for item in bookings %}
        <div class="myTicket">
                <div style="display: flex; text-align: left; margin-left: 10px">
                    <div style="flex: 40%">
                        <h3>Ticket Nr. {{ item.model.booking_nr }}</h3>
                        <h3>Booked: {{ item.model.booking_date }}</h3>
                        <br><br>
                        <img id="preserver" src="{{ url_for('static', filename='life_preserver.png') }}" alt="life-preserver" width="80" height="80">
                    </div>
                    <div style="flex: 40%">
                        <h2>Departure: {{ item.model.departure }}</h2>
                        <h2>Destination: {{ item.model.destination }}</h2>
                        <br>
                        <h2>Passengers: {{ item.model.tickets }}</h2>
                    </div>
                    <div align="right" style="flex: 20%; margin-right: 10px">
                        <img style="height: 230px" src="/media/QR/{{ item.qr }}">
                    </div>
                </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>
{% endblock %}