<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<body>
    <div align="center">
        <div style="padding-top: 10px; width:300px">
            <div style="display: flex">
                <div style="flex: 30%; text-align: left">
                    <p style="margin: 10px 0 0 0">First Name</p>
                    <p style="margin: 10px 0 0 0">Last Name</p>
                    <p style="margin: 10px 0 0 0">Email</p>
                    <p style="margin: 10px 0 0 0">Password</p>
                </div>
                <div style="flex: 70%">
                    <form method="post">
                        <input style="margin-top: 10px;" name="firstname" id="firstname" required>
                        <input style="margin-top: 10px" name="lastname" id="lastname" required>
                        <input style="margin-top: 10px" name="email" id="email" required>
                        <input style="margin-top: 10px;" type="password" name="password" id="password" required>
                        <br>
                        <div align="right" >
                            <input style="margin: 10px 15px 0 0" type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
            {% if fail %}
                <h3 style="color: red">{{ fail }}</h3>
                <br>
                <h3>Are you sure you don't already have an account?</h3><br>
            {% else %}
                <h3 style="margin-bottom: 5px">Already have an account?</h3><br>
            {% endif %}
            <h3 style="margin-top: 5px"><a href ="{{url_for('_login')}}">Login Here</a></h3>
        </div>
    </div>
</body>
{% endblock %}

