<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
<div align="center">
    <form style="margin-top: 50px" action={{ url }} method=post enctype=multipart/form-data>
        <p><input type=file name=file><input type=submit value=Upload>
    </form>
</div>
{% endblock %}