*{
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

* a:visited {
    color: inherit;
}

input[type=submit]{
    background-color: #7191ca;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
}

.sidenav {
    height: 100vh;
    width: 150px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 5px;
    border: 3px solid white;
    z-index: 1;
    font-size: 13px;
    color: white;
    font-weight: bold;
    background-color: #656566;
    overflow-x: hidden;
    transition: 0.3s;
}

.nav {
    padding: 8px 8px 8px 0px;
    border-bottom: white solid 1px;
    border-top: white solid 1px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
    transition: 0.3s;
    z-index: 1;
}

.navFooter {
    font-size: 10px;
    margin-left: 5px;
}

.navFooter a:link {
    color: white;
    text-decoration: none;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.nav:hover {
    background-color: #7090c9;
}

.row {
    display: flex;
}

.column1 {
    flex: 10%;
}
.column2 {
    flex: 90%;
}

.columnhead1 {
    flex: 20%;
    background-color: #ACC0D4;
    height: 90px;
    top:10px;
    margin-left: 3px
}
.columnhead2 {
    background-color: #ACC0D4;
    flex: 80%;
    height: 90px;
}

.headbar {
    width: 102.35%;
    left: -60px;
    position:relative;
    height: 25px;
    margin-top: 3px;
    color: white;
    font-size: 13px;
    padding: 3px 0 0 10px;
}

.myCart {
    width: 250px;
    background-color: #ACC0D4;
    position: fixed;
    right: 8px;
    height: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.2s;
    z-index: 1;
}

.myCart li {
    padding: 8px 15px 8px 0px;
    text-decoration: none;
    font-size: 13px;
    color: white;
    display: block;
    transition: 0.3s;
    z-index: 1;
}

.myCart .closebtn {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 0 0 10px;
    font-size: 40px;
}

.checkout {
    border-top: black 1px solid;
    margin-top: 20px;
}

.checkout li {
    text-decoration: none;
    display: block;
}

.myTicket {
    padding-top: 10px;
    width:75%;
    border: black 2px dashed;
    height: 250px;
    background-color: #dadee5;
    margin-bottom: 20px;
}

#ferry {
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

#ferry:hover {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);

}

#preserver {
    animation: rotation infinite 3s linear;
}

@keyframes rotation{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}

@keyframes opac_down{
    from{
        opacity: 1;
    }
    to{
        opacity: .2;
    }
}

@keyframes opac_up{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.grid {
    display: grid;
    grid-gap: 1px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.container:hover > .grid_image {
    opacity: 0.2;
    animation: opac_down .3s linear;
}

.container:hover > .centered {
    opacity: 1;
    animation: opac_up .3s linear;
}

.centered {
    position: absolute;
    width: 70%;
    top: 30%;
    left: 15%;
    opacity: 0;
}
